body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E1FCF9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-text {
    font-size: 32px;
    font-weight: bold;
    color: #00796b;
    margin: 0 30px 0 20px; /* Add margin to create space */
}

.tractor {
    width: 50px;
    position: absolute;
    left: -50px;
    animation: moveTractor 2s forwards;
}

@keyframes moveTractor {
    0% {
        left: -50px;
    }
    100% {
        left: calc(50% - 25px); /* Adjusted to center the tractor between BH and MI */
    }
}

.image img {
    width: 100%;
    max-width: 250px;
    margin: 20px 0;
}

.content h1 {
    font-size: 24px;
    margin: 10px 0;
}

.content p {
    font-size: 16px;
    color: #00796b;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: #30E5D0;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 4px #00796b;
}

.button:hover {
    background-color: #009688;
}

.button:active {
    box-shadow: 0 2px #00796b;
    transform: translateY(2px);
}
